@tailwind base;
@tailwind components;
@tailwind utilities;



.b-r{
    border:1px solid red;
}

.b-b{
    border:1px solid blue;
}


.product-grid{
    display: flex;
flex-direction: column;

}


    @media (min-width: 1000px) { 
        .product-grid{
            display: grid;
            grid-template-columns: 75% 25%;
            }

    }


    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }


    /* Animations */
    .cart-preview-enter {
        -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    @media (min-width: 768px) { 

    .cart-preview-enter {
        -webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }

    }

    @-webkit-keyframes slide-in-bottom {
        0% {
          -webkit-transform: translateY(1000px);
                  transform: translateY(1000px);

        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);

        }
      }
      @keyframes slide-in-bottom {
        0% {
          -webkit-transform: translateY(1000px);
                  transform: translateY(1000px);

        }
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);

        }
      }
  

@-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }

  .openOrderSummary{
    max-height: 500px;
    transition: max-height 0.15s ease-out;
  }
  .closeOrderSummary{
    max-height: 0px;
    transition: max-height 0.15s ease-out;
  }
